.content-loader{
    background-color: rgb(87 91 31 /.5);
    border-radius: 0.5em;
    height: 5em;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;

    .loading{   
        color: var(--color-white); 
    }
}